#MYSQL CONFIG
DB_MASTER_HOSTS=
DB_SLAVE_HOSTS=
DB_USER=
DB_PASS=
DB_NAME=
MYSQL_DB=
MYSQL_PORT=
DB_MAX_IDLE_CONNECTIONS=
DB_MAX_OPEN_CONNECTIONS=


#SERVER CONFIG 
SERVER_PORT=

#PAGINATION CONFIG
MOVIE_ROW_PER_PAGE=
